.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(85, 9, 9, 0.082), rgb(92, 82, 82));
  }
  .board {
    width: 80%;
    height: 80%;
    display: grid;
    background-color: rgb(237, 223, 223);
    box-shadow: inset 0 -3em 3em rgba(32, 99, 28, 0.1), 0 0 0 2px rgb(238, 180, 180),
      0.3em 0.3em 1em rgba(41, 1, 23, 0.3);
  }
  .board:hover {
    cursor: pointer;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  .buttons {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button {
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
  }
  button:hover {
    cursor: pointer;
  }
  .blackButton {
    background-color:green;
    color: white;
  }
  .blackButton:hover {
    background-color: white;
    color:green;
  }
  .grayButton {
    background-color: rgba(128, 128, 128, 0.411);
    color:green;
  }
  .grayButton:hover {
    background-color: rgb(95, 95, 95);
    color: white;
  }
  .randomButton {
    background: linear-gradient(0.25turn, #eb57f0, #ebf8e1, #4f36db);
  }
  .randomButton:hover {
    background: linear-gradient(0.25turn, #47c237, #c8d2c1, #b1ca24);
  }
  .erasorButton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .erasorButton:hover {
    background-color: white;
    color: rgb(255, 255, 255);
  }
  input {
    width: 50px;
  }
  
  .mode {
    margin-bottom: 5px;
  }
  .error {
    display: none;
  }